<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JavaScriptEngineSwitcher.Core" version="3.0.0-beta4" targetFramework="net45" />
  <package id="JavaScriptEngineSwitcher.V8" version="3.0.0-beta4" targetFramework="net45" />
  <package id="JavaScriptEngineSwitcher.V8.Native.win-x64" version="3.0.0-beta3" targetFramework="net45" />
  <package id="JavaScriptEngineSwitcher.V8.Native.win-x86" version="3.0.0-beta3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MsieJavaScriptEngine" version="3.0.0-beta4" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net45" />
</packages>