<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="jsEngineSwitcher">
			<section name="core" type="JavaScriptEngineSwitcher.Core.Configuration.CoreConfiguration, JavaScriptEngineSwitcher.Core" />
			<section name="msie" type="JavaScriptEngineSwitcher.Msie.Configuration.MsieConfiguration, JavaScriptEngineSwitcher.Msie" />
		</sectionGroup>
	</configSections>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<jsEngineSwitcher xmlns="http://tempuri.org/JavaScriptEngineSwitcher.Configuration.xsd">
		<core defaultEngine="MsieJsEngine">
			<engines>
				<add name="MsieJsEngine" type="JavaScriptEngineSwitcher.Msie.MsieJsEngine, JavaScriptEngineSwitcher.Msie" />
			</engines>
		</core>
	</jsEngineSwitcher>
</configuration>